<div class="container">
  <h2 class="text-center">Top restaurants</h2>
  <div class="row">
    <% @restaurants.first(4).each do |restaurant| %>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="text-center restaurant-card">
          <div class="card-header">
            <h4><%= link_to restaurant.name, restaurant_path(restaurant) %></h4>
            <p><i class="fa fa-phone"></i> <%= restaurant.phone_number %></p>
          </div>
          <div class="card-footer">
            <p><% restaurant.avg_rating.times{ %> <i class="fa fa-star"></i> <% } %>
              <% (5 - restaurant.avg_rating).times { %> <i class="fa fa-star-o"></i> <% } %>
              (<%= restaurant.reviews.count %> Reviews)
              </p>
          </div>
        </div>
      </div>
    <% end %>
    </div>
</div>
